{% if ACCOUNT_ID %}
<div id="{{ DISPLAY_ELEMENT_ID }}" style="height:{{ HEIGHT_PX }}px; width:{{ WIDTH_PX }}px;" {% if CSS_CLASS %}class="{{CSS_CLASS}}"{% endif %}></div>
<script>
    googletag.cmd.push(function() {
        googletag.pubads().display("/{{ ACCOUNT_ID }}/{{ AD_UNIT_NAME}}",
                [{{ WIDTH_PX}}, {{HEIGHT_PX}}],
    "{{ DISPLAY_ELEMENT_ID }}");
    });
</script>
        {% else %}
        <!-- DFP Ad Unit could not be displayed because the Google DFP account id was not set -->
{% endif %}